img {
    position: static;
    border: 2px solid black;
    position: static;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 50px;
}
  
.navBar li {
    float: right;
}

.steps li {
    font-size: 25px;
    text-align: right;
}
  
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: cornflowerblue;
}